body {
    background-color: #f9f9fa
}

.px-3 {
    padding: 1rem !important;
}

.list-wrapper ul {
    padding: 0;
    text-align: left;
    list-style: none;
    margin-bottom: 1rem;
    padding: 0.5rem;
}
